@model Katalog.Models.Category

@{
    ViewBag.Title = "Usuwanie kategorii";
}

<h2>Usuwanie kategorii</h2>

<h3>Czy chcesz usunąć kategorię?</h3>
<fieldset>
    <legend>Usuń kategorię</legend>
    @Html.HiddenFor(model => model.Id)
    <div class="display-label">
         @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Wróć do listy", "Index")
    </p>
}
