@model Katalog.Models.Comment

@{
    ViewBag.Title = "Edycja komentarza";
}

<h2>Edycja komentarza</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edytuj komentarz</legend>


        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>

    @Html.ActionLink("Wróć do usługi", "Details", "Company", new { id = Model.ServiceId }, null)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
